# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual Environments
venv/
.venv/
env/
.env/

# Datasets (too large for git)
/dataset/
/data/
/kaggle_cache/
/kaggle/
*.flac
*.wav
*.mp3
*.zip
.cache/
!samples/*.wav


# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE & Editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
